div#hForum ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#hForumThreads ul.hForumLinks {
    padding: 20px 0 0 0;
}
div.hForumTitleOuter {
    height: 29px;
    font-size: 16px;
}
div.hForumTitleOuter span {
    line-height: 29px;
    vertical-align: middle;
    padding: 0 5px;
}
div.hForumTopicWrapper {
    border: 1px solid rgb(179, 179, 179);
    margin-bottom: 20px;
}
table.hForumTopics {
    border-collapse: collapse;
    width: 100%;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
}
td.hForumNoPosts {
    padding: 25px 0;
    text-align: center;
    font-style: italic;
    opacity: 0.7;
}
li.hForum {
    padding: 0 10px 10px 10px; 
}
table.hForumTopics thead th {
    background: url('/hApplication/hApplicationUI/Pictures/List Header.png') repeat-x;
    height: 15px;
    margin: 0;
    padding: 0 0 0 5px;
    border: 1px solid rgb(179, 179, 179);
    border-top: none;
    text-align: left;
}
table.hForumTopics thead th:first-child {
    border-left: none;
}
table.hForumTopics thead th:last-child {
    border-right: none;
}
table.hForumTopics tbody {
    width: 100%;
}
table.hForumTopics tbody tr:nth-child(even) {
    background: rgb(237, 243, 254);
}
table.hForumTopics tbody tr.hForumTopicSelected {
    background: rgb(0, 100, 189) url('/hApplication/hApplicationUI/Pictures/Selection/Generic.png') repeat-x top;
    color: white;
    text-shadow: rgb(97, 95, 106) 1px 1px 1px;
}
table.hForumTopics tbody tr.hForumTopicSelected a {
    color: lightblue;
}
/*
table.hForumTopics tbody tr:hover {
    background: rgb(50, 102, 184) url('/hFinder/hFinderSideColumn/Pictures/itemSelected.png') repeat-x top;
    color: white;
    text-shadow: rgb(97, 95, 106) 1px 1px 1px;
}
table.hForumTopics tbody tr:hover a {
    color: lightblue;
}
*/
div.hForumRecentPosts {
    text-align: right; 
}
table.hForumTopics th {
    font-weight: normal;
    font-size: 12px;
}
table.hForumTopics td {
    border-bottom: none;
    padding: 5px 0 5px 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table.hForumTopics td.hForumTopic {
    padding: 0 5px;
    vertical-align: middle;
}
table.hForumTopics td.hForumTopic a {
    text-decoration: none;
}
table.hForumTopics td.hForumTopic p {
    margin: 3px 0;
    font-size: 0.9em;
    white-space: normal;
}
table.hForumTopics td.hForumTopic img {
    vertical-align: -2px;
    margin: 0 3px 0  0;
}
span.hForumTopicIsModerated,
span.hForumTopicIsLocked {
    display: none;
}
td.hForumTopic a {
}
col.hForumSubscription,
th.hForumSubscription,
td.hForumSubscription {
    width: 100px;
}
td.hForumSubscription a {
    text-decoration: none;
}
col.hForumThreadCount,
th.hForumThreadCount,
td.hForumThreadCount {
    width: 60px;    
}
col.hForumPostCount,
th.hForumPostCount,
td.hForumPostCount {
    width: 40px;
}
th.hForumLastPost,
td.hForumLastPost {
    width: 100px;
    white-space: nowrap;
}
th.hForumModerators,
td.hForumModerators {
    width: 100px;
}
th.hForumSubscription,
td.hForumSubscription,
th.hForumThreadCount,
td.hForumThreadCount,
th.hForumPostCount,
td.hForumPostCount,
th.hForumLastPost,
td.hForumLastPost {
}
table.hForumTopics td.hForumModerators,
table.hForumTopics td.hForumLastPost {
    padding: 5px;
    font-size: 11px;
}
div#hForumCopy {
    padding: 0 10px;
}
div.hForumTopicButtons {
    position: relative;
    top: -15px;
}
div.hForumTopicButtons a {
    float: right;
    text-indent: -20000px;
}
a.hForumTopicButtonEdit {
    background: url('/hForum/Pictures/Edit Topic.png') no-repeat;
    width: 38px;
    height: 21px;
    margin: 0 15px 0 0;
}
a.hForumTopicButtonEdit:active {
    background-image: url('/hForum/Pictures/Edit Topic Active.png');
}
a.hForumTopicButtonAdd {
    background: url('/hApplication/hApplicationUI/Pictures/Add.png') no-repeat;
    width: 23px;
    height: 22px;
}
a.hForumTopicButtonAdd:active {
    background-image: url('/hApplication/hApplicationUI/Pictures/Add Pressed.png');
}
a.hForumTopicButtonRemove {
    background: url('/hApplication/hApplicationUI/Pictures/Remove.png') no-repeat;
    width: 22px;
    height: 22px;
}
a.hForumTopicButtonRemove:active {
    background-image: url('/hApplication/hApplicationUI/Pictures/Remove Pressed.png');
}
form#hForumTopicDialogue {
    width: 500px;
    height: 400px;
    margin: -250px 0 0 -200px;
}
input#hForumTopic {
    width: 85%;
}
textarea#hForumTopicDescription {
    width: 98%;
}
li.hForumTemplate {
    display: none;
}
li.hForumSelected div.hForumTopicWrapper {
    outline: 3px solid rgb(192, 214, 234);
    {userAgent.isWebkit?
        outline: 5px auto -webkit-focus-ring-color;
    }
}
div.hForumButtons {
    overflow: auto;
    zoom: 1;
    padding: 15px 0 0 0;
    clear: both;
}
div.hForumButtons a {
    float: right;
    margin: 25px 0 0 15px;
}
span.hForumTopicPermissions {
    float: left;
    width: 16px;
    height: 16px;
    background: url('/images/icons/16x16/everyone.png') no-repeat;
    margin: 0 5px 0 0;
    cursor: pointer;
}