ul#hFinderToolbar {
    padding: 5px 5px 0 9px;
    white-space: nowrap;
    text-align: left;
    list-style: none;
    margin: 0;
    position: relative;
    z-index: 3;
}
ul#hFinderToolbar li {
    float: left;
}
ul#hFinderToolbar div.hFinderToolbarMenuOn {
    display: block;
}
ul#hFinderToolbar div.hFinderToolbarMenu li {
    float: none;
}
li#hFinder-Forward,
li#hFinder-Refresh,
li#hFinder-ViewCoverFlow,
li#hFinder-Action {
    margin-right: 10px;
}
div#hFinderActionMenu {
    font-size: 12px;    
}
div#hFinderActionMenuInner {
    height: 187px;
}
li#hFinder-Back {
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Navigation.png') no-repeat 0 -23px;
    width: 27px;
    height: 23px;
}
li#hFinder-Forward {
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Navigation.png') no-repeat -27px -23px;
    width: 27px;
    height: 23px;
}
ul#hFinderToolbar li.hFinderBackOn {
    background-position: 0 0;
}
ul#hFinderToolbar li.hFinderBackActive {
    background-position: 0 -46px;
}
ul#hFinderToolbar li.hFinderForwardOn {
    background-position: -27px 0; 
}
ul#hFinderToolbar li.hFinderForwardActive {
    background-position: -27px -46px;    
}
li#hFinder-Refresh {
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Refresh.png') no-repeat;
    width: 28px;
    height: 23px;
}
ul#hFinderToolbar li.hFinderRefreshOn {
    background-position: 0 -23px;
}
li#hFinder-ViewIcons {
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Views.png') no-repeat;
    width: 28px;
    height: 23px;
}
ul#hFinderToolbar li.hFinderViewIconsActive {
    background-position: 0 -23px;
}
ul#hFinderToolbar li.hFinderViewIconsOn {
    background-position: 0 -46px;
}
ul#hFinderToolbar li.hFinderViewIconsOnActive {
    background-position: 0 -69px;    
}
li#hFinder-ViewList {
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Views.png') no-repeat -28px 0;
    width: 28px;
    height: 23px;
}
ul#hFinderToolbar li.hFinderViewListActive {
    background-position: -28px -23px;
}
ul#hFinderToolbar li.hFinderViewListOn {
    background-position: -28px -46px;
}
ul#hFinderToolbar li.hFinderViewListOnActive {
    background-position: -28px -69px;
}
li#hFinder-ViewColumns {
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Views.png') no-repeat -56px 0;
    width: 28px;
    height: 23px;
}
ul#hFinderToolbar li.hFinderViewColumnsActive {
    background-position: -56px -23px;
}
ul#hFinderToolbar li.hFinderViewColumnsOn {
    background-position: -56px -46px;
}
ul#hFinderToolbar li.hFinderViewColumnsOnActive {
    background-position: -56px -69px;
}
li#hFinder-ViewCoverFlow{
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Views.png') no-repeat -84px 0;
    width: 28px;
    height: 23px;
}
ul#hFinderToolbar li.hFinderViewCoverFlowActive {
    background-position: -84px -23px;
}
ul#hFinderToolbar li.hFinderViewCoverFlowOn {
    background-position: -84px -46px;
}
ul#hFinderToolbar li.hFinderViewCoverFlowOnActive {
    background-position: -84px -69px;
}
li#hFinder-Action {
    background: url('/hApplication/hApplicationUI/Pictures/Sprites/Action.png') no-repeat;
    width: 44px;
    height: 23px;
}
ul#hFinderToolbar li#hFinder-Action:active,
ul#hFinderToolbar li.hFinderActionOn {
    background-position: 0 -23px;
}
li.hFinderToolbarActionMenuItem {
    display: none;
}
