@import '/hApplication/hApplicationUI/hApplicationUIListView/hApplicationUIListView.css';

form#hFinderPasswordDialogue {
    width: 750px;
    height: 250px;
    margin: -125px 0 0 -375px;
    z-index: 1001;
}
form#hFinderPasswordDialogue div.hFormDivision {
    display: block;    
}
form#hFinderPasswordDialogue div.hFormLegend {
    display: none;
}
form#hFinderPasswordsDialogue {
    width: 800px;
    height: 330px;
    margin: -165px 0 0 -400px;
    z-index: 1000;
}
p#hFinderPasswordEmailTemplate,
tr.hFinderPasswordTemplate {
    display: none;
}
div#hFinderPasswordWrapper {
    position: relative;
}
form#hFinderPasswordsDialogue div.hDialogueContentWrapper {
    padding: 20px 20px 0 20px;
}
form#hFinderPasswordsDialogue div.hApplicationUIListBody {
    overflow: auto;
    height: 225px;
}
form#hFinderPasswordsDialogue table.hApplicationUIListView {
    min-height: 100px;
}
form#hFinderPasswordsDialogue table.hApplicationUIListView td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul#hFinderPasswordButtons {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    overflow: hidden;
}
ul#hFinderPasswordButtons li {
    float: left;
    width: 20px;
    height: 18px;
    border: 1px solid rgb(168, 168, 168);
    text-indent: -20000px;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
}
ul#hFinderPasswordButtons li#hFinderPasswordAdd {
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Plus.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2.png");
}
ul#hFinderPasswordButtons li#hFinderPasswordAdd:active {
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Plus.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2 On.png");
    border-color: rgb(145, 145, 145);
}
ul#hFinderPasswordButtons li#hFinderPasswordRemove {
    border-left: none;
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Minus.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2.png");
}
ul#hFinderPasswordButtons li#hFinderPasswordRemove:active {
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Minus.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2 On.png");
    border-color: rgb(145, 145, 145);
}
ul#hFinderPasswordButtons li#hFinderPasswordEdit {
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Edit.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2.png");
    margin: 0 0 0 15px;
}
ul#hFinderPasswordButtons li#hFinderPasswordEdit:active {
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Edit.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2 On.png");
    border-color: rgb(145, 145, 145);
}
ul#hFinderPasswordButtons li#hFinderPasswordEmail {
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Email.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2.png");
    margin: 0 0 0 15px;
    width: 25px
}
ul#hFinderPasswordButtons li#hFinderPasswordEmail:active {
    background-image: url("/hApplication/hApplicationUI/Pictures/Buttons/Email.png"), url("/hApplication/hApplicationUI/Pictures/Buttons/Gradient2 On.png");
    border-color: rgb(145, 145, 145);
}
form#hFinderPasswordsDialogue div.hApplicationUIListBody tbody var {
    display: none;
}
form#hFinderPasswordsDialogue div.hApplicationUIListBody tbody tr.hFinderPasswordSelected {
    background: rgb(50, 102, 184) url('/hApplication/hApplicationUI/Pictures/Selection/Generic.png') repeat-x top;
    color: white;
    text-shadow: rgb(97, 95, 106) 1px 1px 1px;
}
div#hFinderPasswordRevealWrapper {
    position: absolute;
    bottom: 12px;
    right: 25px;
}