@import '/hSearch/hSearch.css';

div#hCalendarBlogInner {
    position: relative;
    padding: 0 20px 0 0;
}
div#hCalendarBlogPosts {
    margin: 0 33% 0 0;
}
div.hCalendarBlogPost {
    padding: 0 0 50px 0;
}
div#hCalendarBlogLinks {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
}
div#hCalendarBlogLinksInner {
    padding: 0 20px;
}
div#hCalendarRSSLink {
    font-size: 16px;    
}
div#hCalendarRSSLink img {
    vertical-align: middle;    
}
div#hCalendarRSSLink a {
    text-decoration: none;
}
div.hCalendarRecentPosts ul,
div.hCalendarBlogRollLinks ul,
div.hCalendarBlogCategories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.hCalendarRecentPosts li.hCalendarBlogRecentPostSeparator {
    padding: 10px 0;
}
div.hCalendarBlogRollLinks ul li {
    padding: 10px 0;
}
p.hCalendarBlogPostMore {
    float: right;
    margin: 0;
}
div.hCalendarBlogPostComments {
    float: left;
}
div.hCalendarBlogPostSeparator {
    clear: both;
}
ul.hCalendarBlogArchiveYears {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.hCalendarBlogArchiveMonths {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.hCalendarBlogArchiveYear {
    float: left;
    width: 125px;
}
div#hCalendarBlogArchiveFollow {
    clear: both;
}
div#hCalendarBlogInner {
    min-height: 600px;
}
div.hCalendarBlogPostDocumentInner {
    padding: 10px 0 0 0;
    overflow: hidden;
    zoom: 1;
}
div.hCalendarBlogPostDocumentInner p {
    margin-top: 0;
}
