@import '/hPagination/hPagination.css';

div#hBlogInner {
    position: relative;
    padding: 0 20px 0 0;
}
div#hBlogPosts {
    margin: 0 33% 0 0;
}
div.hBlogPost {
    padding: 0 0 50px 0;
}
div#hBlogLinks {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
}
div#hBlogLinksInner {
    padding: 0 20px;
}
div.hBlogRSSLink {
    font-size: 16px;    
}
div.hBlogRSSLink img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
div.hBlogRSSLink a {
    text-decoration: none;
}
div.hBlogRecentPosts ul,
div.hBlogRollLinks ul,
div.hBlogCategories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.hBlogRecentPosts li.hBlogRecentPostSeparator {
    padding: 10px 0;
}
div.hBlogRollLinks ul li {
    padding: 10px 0;
}
p.hBlogPostMore {
    float: right;
    margin: 0;
}
div.hBlogPostComments {
    float: left;
}
div.hBlogPostSeparator {
    clear: both;
}
ul.hBlogArchiveYears {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.hBlogArchiveMonths {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.hBlogArchiveYear {
    float: left;
    width: 125px;
}
div#hBlogArchiveFollow {
    clear: both;
}
div#hBlogInner {
    min-height: 600px;
}
div.hBlogPostDocumentInner {
    padding: 10px 0 0 0;
    overflow: hidden;
    zoom: 1;
}
div.hBlogPostDocumentInner p {
    margin-top: 0;
}
